{% extends "home.html" %}

{% block content %}

<button><a href="{% url 'crear_sucursal' %}">agregar sucursal</a></button>
<h2>Lista de sucursales</h2>
<ul>    
    {% for sucursal in sucursales %}
    <tr>
            <td>{{ sucursal.codigo }}</td>
            <td>{{ sucursal.nombre }}</td>
            <td>{{ sucursal.ciudad }}</td>
            <td>
                <a href="{% url 'eliminar_sucursal' sucursal.codigo %}" class="btn btn-danger btn-sm">Eliminar</a>
                <a href="{% url 'editar_sucursal' sucursal.codigo %}" class="btn btn-primary btn-sm">Editar</a>
            </td>
        </tr>
    {% empty %}
        <li>No hay sucursales disponibles.</li>
    {% endfor %}
{% endblock content %}